In [2]:
import numpy as np 
import pandas as pd

# series Creation

In [3]:
pd.Series()

C:\Users\Ayush-PC\AppData\Local\Temp/ipykernel_2924/2031691219.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [4]:
x=['A','B','C']
print(x ,type(x))

['A', 'B', 'C'] <class 'list'>

In [5]:
y=pd.Series(x)
print(y,type(y))

0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [6]:
x=pd.Series(['A','B','C'])
x.name='My letters'
x

0    A
1    B
2    C
Name: My letters, dtype: object

In [7]:
x.values

array(['A', 'B', 'C'], dtype=object)

# Series indexation
Assign index names to the given X pandas Series

In [8]:
index_names=['First','Second','Third']
x.index=index_names
x

First     A
Second    B
Third     C
Name: My letters, dtype: object

In [9]:
x['First'],x[1]

('A', 'B')

In [10]:
x[2]

'C'

In [11]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])
X[0:4]

first     A
second    B
third     C
forth     D
dtype: object

In [12]:
#Given the X pandas Series, show the elements in reverse position
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [13]:
X[0::4]

first    A
fifth    E
dtype: object

# Series manipulation
Convert the given integer pandas Series to float

In [14]:
pd.Series(X, dtype=np.float)

C:\Users\Ayush-PC\AppData\Local\Temp/ipykernel_2924/1929545889.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  pd.Series(X, dtype=np.float)

first     A
second    B
third     C
forth     D
fifth     E
dtype: object

In [15]:
#Reverse the given pandas Series (first element becomes last)
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [16]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])
X=X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [17]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [18]:
X[1:-1]=0
X

A     1
B     0
C     0
D     0
E    10
dtype: int64

In [19]:
X=pd.Series([1,2,3,4,5])
X+5

0     6
1     7
2     8
3     9
4    10
dtype: int64

# Series boolean arrays (also called masks)
Given the X pandas Series, make a mask showing negative elements

In [20]:
X=pd.Series([-1,2,0,-4,5,6,0,0,-8,10])
mask=X<=0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -8
dtype: int64

In [21]:
mask=X>5
X[mask]

5     6
9    10
dtype: int64

In [23]:
mask=X>X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

In [24]:
mask=(X==2)|(X==10)
X[mask]

1     2
9    10
dtype: int64

# Logic functions

In [26]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.all()

False

In [27]:
X.any()

True

# Summary statistics

In [28]:
s=pd.Series([23,45,67,89,23])
s.sum()

247

In [29]:
s.mean()

49.4

In [30]:
s.max()

89